{% extends 'main_template.html' %}


{# https://getbootstrap.com/docs/4.3/examples/dashboard/#  Sample UI #}

{% block content %}
    {% load icon %}

    {# SIDEBAR & TABLE #}
    <div>
        <div class="container-fluid">
          <div class="row">
            <nav  class="col-md-2 d-none d-md-block bg-light sidebar" >
              <div class="sidebar-sticky ">
                <ul style="list-style: none;" class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <svg {% icon 'home' class='feather feather-home' %}
                      Dashboard <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <svg {% icon 'file' class='feather feather-file' %}
                      Orders
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                        <svg {% icon 'shopping-cart' class='feather feather-shopping-cart' %}
                      Products
                    </a>
                  </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                  <span>Saved reports</span>
                  <a class="d-flex align-items-center text-muted" href="#">
                      <svg {% icon 'plus-circle' class='feather feather-plus-circle' %}
                  </a>
                </h6>
                <ul class="nav flex-column mb-2">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <svg {% icon 'file-text' class='feather feather-file-text' %}
                      Current month
                    </a>
                  </li>
                </ul>
              </div>
            </nav>

            {# MAIN AREA HOLDING CHART AND TABLE     #}
            <main role="main" class="col-md-10 ml-md-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1>Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div id="buttons" class="btn-group mr-2">

                            <button type="button" class="btn btn-sm btn-outline-dark">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-dark">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-dark dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                </div>

                {# CHART AREA #}
                <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

                <h1>Important Data</h1>
                <hr>
                {# TABLE #}
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div class="table-responsive">
                    <table id="example" class="table table-striped table-responsive-sm table-bordered">
                      <thead>
                        <tr>
                            <th class="h6">Agency</th>
                            <th class="h6">Payee</th>
                            <th class="h6">Cost</th>
                            <th class="h6">Zip Code</th>
                            <th class="h6">Description</th>
                        </tr>

                      </thead>
                      <tbody>
                        {% for item in data %}
                            <tr>
                                <td>{{ item.agency | title }}</td>
                                <td>{{ item.payee_name | title }}</td>
                                <td>${{  item.amount }}</td>
                                <td>{{ item.zip_code }}</td>
                                <td>{{ item.payment_description | lower | capfirst}}</td>
                            </tr>

                        {% endfor %}
                      </tbody>
                    </table>
                </div>
                </div>
            </main>
          </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('#example').DataTable(
                {
                    colReorder: true,
                    dom: 'lfBrtp',
                    select: true,
                    scrollY: 500,
                    scrollCollapse: true,
                    buttons: {
                        buttons: [
                            { extend: 'copy', className: 'btn btn-sm btn-outline-dark' },
                            { extend: 'csv', className: 'btn btn-sm btn-outline-dark' },
                            { extend: 'pdf', className: 'btn btn-sm btn-outline-dark' },
                        ],
                        selectAll: "Select all items",
                        selectNone: "Select none"
                    }
                }
            );
        });
    </script>

{% endblock %}