{% extends "main_template.html" %}


{% block content %}

    {# MAIN JUMBOTRON   #}
    <div style="margin-bottom: 0" class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4">{{ title|default:"Welcome!" }}</h1>
            <p class="lead">{{ text }}</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>

    {#  FIRST SECTION  #}
    <div style="margin: 0" class="jumbotron jumbotron-fluid site-footer">
        <div class="container">
            <h1 class="display-4">{{ section_one }}</h1>
            <p class="lead">{{ text }}</p>
        </div>
    </div>

{% endblock %}
